body {
  background-color: white;
  color: #333;
}

/* declaration for element by id */
#user_name {
  color: green;
}

a {
  color: red;
}

h1,h2 {
  color: #800000;
}

section {
  width: 100%;
}

/* Pattern styles */
.left-half {
  background-color: #ff9e2c;
  float: left;
  width: 50%;
}
.right-half {
  background-color: #b6701e;
  float: left;
  width: 50%;
}

.container1 {
  background-image: url('img\fire_background.png');
}

.button {
  background-color: #800000;
  color: white;
}

.logo img {
  padding: 0;
  margin: 0;
  max-height: 80px;
  max-width: auto;
}

.topnav {
  background-color: white;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #800000;
  color: white;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #800000;
  color: white;
}

.cardPane {
  background-color: #eee;
  color: black;
}

.cardPaneLeft{
  border-right: 1px solid rgb(77,55,41);
}

.cardPaneRight{
  border-left: 1px solid rgb(77,55,41);
}

/* Intro Style Pic */
#intro {
  width: 100%;
  background: url("../img/fire_background.png");
  background-repeat: no-repeat;
}


#intro .intro-info h2 {
  color: black;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 500;
}

.imgDes {
  overflow: hidden;
  align: right;
}

.pic img{
  float: left;
  padding: 14px 16px;
}

/** Tablesort css **/
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
