<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- citing CSS from my senior capstone project
    <link rel="stylesheet" href="https://github.iu.edu/INFO-Capstone-2020/team-01/blob/master/app/book_appointment.php"> -->
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/styles.css">

    <title>User Information</title>
  </head>
  <body>

    <div class="logo float-left">
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="login.html" class="scrollto"><img src="img/logo.png" alt="Responsive image" class="img-fluid"></a>
  </div>

    <div class="topnav">
    <a href="contact.html">CONTACT US</a>
    <a href="reports.html">REPORTS</a>
    <a href="add_member.html" class="active">MEMBERS</a>
    <a href="cert.html">CERTIFICATIONS</a>
    <a href="about_us.html">ABOUT US</a>
    <a href="login.html">HOME</a>
  </div>

  <section id="intro" class="clearfix">

    <div class="intro-info">
      <center><h2><br><br><br>Add Members<br><br><br></h2></center>
    </div>
</section>

<div class="container-fluid">
  <div class="row" id="membersPage">
    <div id="cardPaneLeft" class="col cardPane cardPaneLeft">
      <form method="post" v-on:submit.prevent="handleNewMemberForm">

        <div class="form-group">
        <label for="first_name">First Name: </label>
        <input type="text" v-model="newMemberForm.first_name" class="form-control" id="first_name">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name: </label>
        <input type="text" v-model="newMemberForm.last_name" class="form-control" id="last_name">
      </div>
      <div class="form-group">
        <label for="gender">Gender: </label>
        <input type="text" v-model="newMemberForm.gender" class="form-control" id="gender">
      </div>
      <div class="form-group">
        <label for="street_address">Street: </label>
        <input type="text" v-model="newMemberForm.street_address" class="form-control" id="street_address">
      </div>
      <div class="form-group">
        <label for="city">City: </label>
        <input type="text" v-model="newMemberForm.city" class="form-control" id="city">
      </div>
      <div class="form-group">
        <label for="state">State: </label>
        <input type="text" v-model="newMemberForm.state" class="form-control" id="state">
      </div>
      <div class="form-group">
        <label for="zipcode">Zip Code: </label>
        <input type="text" v-model="newMemberForm.zipcode" class="form-control" id="zipcode">
      </div>
      <div class="form-group">
        <label for="phone">Phone: </label>
        <input type="text" v-model="newMemberForm.phone" class="form-control" id="phone">
      </div>
      <div class="form-group">
        <label for="phone">Email: </label>
        <input type="text" v-model="newMemberForm.email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="radio_number">Radio Number: </label>
        <input type="text" v-model="newMemberForm.radio_number" class="form-control" id="radio_number">
      </div>
      <div class="form-group">
        <label for="station_num">Station Number: </label>
        <input type="text" v-model="newMemberForm.station_num" class="form-control" id="station_num">
      </div>
      <div class="form-group">
        <label for="position_name">Position: </label>
        <input type="text" v-model="newMemberForm.position_name" class="form-control" id="position_name">
      </div>

      <button type="submit" class="btn btn-primary">Add</button>

      </form>

      <h3>Members</h3>
      <div class="memberCard" v-for="member in memberList" v-on:click="activeMember = member">
        <span class="last_name">{{ member.last_name }}</span>,
        <span clas="first_name">{{ member.first_name }}</span>
      </div>

    </div>

      </div>
    </div>
    <!-- END content -->

    <!-- Footer? Insert here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
