<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- citing CSS from my senior capstone project
    <link rel="stylesheet" href="https://github.iu.edu/INFO-Capstone-2020/team-01/blob/master/app/book_appointment.php"> -->
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="data:;base64,=">


    <title>User Information</title>
  </head>
  <body>

    <div class="logo float-left">
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="login.html" class="scrollto"><img src="img/logo.png" alt="Responsive image" class="img-fluid"></a>
  </div>

    <div class="topnav">
    <a href="reports.html">REPORTS</a>
    <a href="members.html" class="active">MEMBERS</a>
    <a href="cert_main.html">CERTIFICATIONS</a>
    <a href="about_us.html">ABOUT US</a>
  </div>

  <section id="intro" class="clearfix">

    <div class="intro-info">
      <center><h2><br><br><br>View, Delete, and Edit Members<br><br><br></h2></center>
    </div>
</section>

<section>
<center>
  <div class="container">
    <div class="row" id="membersPage">
      <div id="mainContent" class="col-md">
    <table id="memberTable" class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Member ID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Position</th>
          <th scope="col">Gender</th>
          <th scope="col">Address</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Radio Number</th>
          <th scope="col">Station</th>
        </tr>
      </thead>
      <tbody class="members" id="membersPage">
        <tr class="members" v-for="member in memberList">
          <td class="person_id">{{ member.person_id }}</td>
          <td class="first_name">{{ member.first_name }} {{ member.last_name }}</td>
          <td class="position_name">{{ member.position_name }}</td>
          <td class="gender">{{ member.gender }}</td>
          <td class="street_address">{{ member.street_address }} {{ member.city }}, {{ member.state }} {{ member.zipcode }}</td>
          <td class="phone">{{ member.phone }}</td>
          <td class="email">{{ member.email }}</td>
          <td class="radio_number">{{ member.radio_number }}</td>
          <td class="phone">{{ member.station_num }}</td>

        <!--  <td> <button class="btn delete" v-on:click="removeEntry(member.person_id)">Delete</button>
        </form></td> -->
        </tr>
      </tbody>
    </table>
</br>
    <div class="form-group" row>


    <form v-on:submit.prevent="handleDelete()">
    <h3>Want to Delete a Member?</h3>
    <div class="form-group">
    <div class="col-sm-10">
    <input type="number" class="form-control" id="person_id" placeholder="Enter Member ID Number" v-model="newMember.person_id">
              </div>
              </div>

              <div class="form-group">
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Delete</button>
              </div>
              </div>
              </form>
            </div>
</br>
<form action="edit_member.html">
<h3>Want to Edit Member Info?</h3>
<button type="submit" class="btn btn-primary">Click here!</button>
</form> </br>
</div>
</div>
</div>
</center>
</section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
