<div class="container-fluid">
      <div class="row" id="triagePage">
        <div id="cardPaneLeft" class="col cardPane cardPaneLeft">
          <form method="post" v-on:submit.prevent="handleNewPtForm">

            <div class="form-group">
            First Name: <input type="text" v-model="newPtForm.firstName" class="form-control" id="newPtFirstName">
          </div>
          <div class="form-group">
            Last Name:<input type="text" v-model="newPtForm.lastName" class="form-control" id="newPtLastName">
          </div>
          <div class="form-group">
            <input type="text" v-model="newPtForm.dob" class="form-control" id="newPtDob" placeholder="2020-01-02">
          </div>
          <div class="form-group">
            <label for="newPtSexAtBirth">Sex at Birth</label>
            <select class="form-control" v-model="newPtForm.sexAtBirth" id="newPtSexAtBirth">
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other/Unknown</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Create</button>

          </form>

<h3>List of all patients</h3>

<div class="patientCard" v-for="pt in ptList" v-on:click="activePt = pt">
  <span class="lastName">{{ pt.lastName }}</span>,
  <span clas="first_name">{{ pt.first_name }}</span>
  <span class="birthDate float-right">{{ pt.dob }}</span>
</div>
